<% include ../partials/header %>

<div class="container">
    <h1>Expense Summary</h1>
    <% if(expenses && expenses.length > 0){ %>
        <table class="table table-striped">
            <thead>
                <th>Description</th>
                <th>Amount</th>
                <th>Created By</th>
            </thead>
                <% expenses.forEach(function(expense){ %>
                    <tr>
                        <td><%= expense.description %></td>
                        <td>£<%= expense.txnAmount %>.00</td>
                        <td><%= expense.createdBy %></td>
                    </tr>
                <% }); %>
        </table>
    <% } %>
    <div class="expense-btns">
        <a href="/trips/<%= trip_id%>/expenses/new" class="btn btn-success btn-lg btn-block">Create New Expense</a>
        <% if(expenses && expenses.length > 0){ %>
            <a href="/trips/<%= trip_id%>/expenses/summary" class="btn btn-info btn-lg btn-block">View Breakdown</a>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>